@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #f8fafc;
  --foreground: #171717;
  --font-poppins: var(--font-poppins-google), sans-serif;
  --font-geist-mono: var(--font-geist-mono-google), monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
  --color-ism-blue: #0a0963;
  --color-ism-purple: #4d0e4e;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}
